@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Fuzzy+Bubbles&display=swap');

*{padding: 0; margin: 0;}
a{text-decoration: none;}
a:link,a:focus,a:visited{color: antiquewhite;}
a:hover{color:red}
ul,ol,li{list-style: none;}