@charset 'utf-8';
@import 'reset.scss';

body{
    background-color: #222;
    #section{
        margin: 30px;
        .inner{
            margin: 0 auto;
            width: 1180px;
            padding: 100px auto;
            position: relative;
            h1{
                font-family: 'Bakbak One';
                color: rgb(255, 238, 224);
                letter-spacing: 5px;
                font-size: 60px;
                line-height: 1.2;
                margin-left: 40px;
                margin-top: 15px;
                margin-bottom: 30px;
            }
            h3{
                font-family: 'Bakbak One';
                color: rgb(252, 229, 210);
                font-size: 20px;
                font-weight: bold;
                position: absolute;
                top: 0px; right: 0px;
            }
            #calender{
                position: relative;
                font-size: 25px;
                top: -15px; right: -10px;
            }
            .wrap{
                width: 100%;
                margin: 0px auto;
                padding: 0 auto;
                article{
                    h2{
                        font-family: 'Bakbak One';
                        letter-spacing: 2px;
                        color: #fff;
                        margin-bottom: 30px;
                    }
                    
                    .jan{
                        color: rgb(249, 231, 208);
                        thead{
                            tr{
                                th{
                                    width: 98px;
                                    height: 40px;
                                    font-family: "Bakbak One";
                                    letter-spacing: 2px;
                                    font-size: 20px;
                                }
                            }
                        }
                        tbody{
                            td{
                                height: 80px;
                                font-weight: bold;
                                color: antiquewhite;
                                vertical-align: top;
                                padding: 5px;

                            }
                        }
                    }
                    background-image: url(../img/january.jpeg);
                    background-repeat: no-repeat;
                    background-size: 450px 600px; 
                    background-position-x: right;
                    background-position-y: 40px; 
                }
                .button1{
                    position: absolute;
                    top: 400px;
                    left: 1230px;
                    font-size: 35px;
                }
                .button2{
                    position: absolute;
                    top: 400px;
                    right: 1230px;
                    font-size: 35px;
                }
            }
        }
    }
   
}